body {
  font-family: Georgia;
}

header {
  display: flex;
  border-bottom: solid black 1px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

#logo {
  display: flex;
  flex: 1;
}

#logoText {
  position: relative;
  left: 10px;
  color: MediumAquamarine;
}

nav {
  display: inline-block;
}

li {
  display: inline-block;
}

#mainContent {
  display: flex;
}

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

#largeSmall {
 display: flex;
}

#pictureArticles {
  display: flex;
  direction: column;
}

#medium {
  width: 300px;
}

#small {
  display: flex;
  direction: column;
  width: 240px;
}

#footer {
  display: flex;
}
