body {
  font-family: Georgia;
}

header {
  display: flex;
  border-bottom: solid black 1px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

#logo {
  display: flex;
  flex: 1;
}

#logoText {
  position: relative;
  left: 10px;
  color: MediumAquamarine;
}

nav {
  display: inline-block;
}

li {
  display: inline-block;
}

#mainContent {
  display: flex;
}

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  padding: 10px;
}

#largeSmall {
 display: flex;
 justify-content: space-between;
}

#orca {
  width: 280px;
}

#burger {
  width: 280px;
}

#pictureArticles {
  display: flex;
  direction: column;
}

#medium {
  width: 300px;
  padding: 10px;
}

#small {

}

img.cookie {
  height: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column#small {
  width: 240px;
}

.news-bites {

}

.news-bites .bite {
  display: block;
  padding: 10px;
  bottom-border: solid black 1px;
  background-color: WhiteSmoke;
  color: DimGray;
  font-family: Verdana;
  font-size: 12px;
}

#earth {
  width: 280px;
}

#cameras {
  width: 280px;
}

#footer {
  display: flex;
}
