body {
  font-family: Georgia;
}

header {
  display: flex;
  border-bottom: solid black 1px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

#logo {
  display: flex;
  flex: 1;
}

#logoText {
  position: relative;
  left: 10px;
  color: MediumAquamarine;
}

nav {
  display: inline-block;
}

li {
  display: inline-block;
}

#mainContent {
  display: flex;
}

p {
  font-size: 17px;
  color: black;
}

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  padding: 10px;
  padding-left: 40px;
}

#mainImage {
  background-image: url(../main_story.png);
  height: 300px;
  width: 625px;
  display: flex;
}

#mainHeadline {
  color: white;
  position: relative;
  display: inline;
  top: 60px;
  left: 20px;
  font-size: 40px;
  width: 550px;
  font-weight: bold;
}

#largeSmall {
 display: flex;
 justify-content: space-between;
}

#burger {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#burger p {
  margin-top: -5px;
}

#orca {
  display: flex;
  flex-direction: column;
  width: 290px;
}

#orca p {
  margin-top: -5px;
}

#pictureArticles {
  display: flex;
  direction: column;
  justify-content: space-between;
}

#pictureArticlesText {
  width: 300px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 75px;
}

#earthImage {
  display: flex;
  background-image: url("../fall_season.png");
  height: 300px;
}

#cameraImage {
  display: flex;
  background-image: url("../hipster_cameraman.png");
}

#medium {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

#cat {
  display: flex;
  background-image: url("../cat_ceo.png");
  height: 300px;
}

#small {
  padding: 10px;
}

img.cookie {
  height: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column#small {
  width: 240px;
}

.news-bites {

}

#bite-heading {
  text-align: center;
}

.news-bites .bite {
  display: block;
  padding: 10px;
  border-bottom: solid black 1px;
  background-color: WhiteSmoke;
  color: DimGray;
  font-family: Verdana;
  font-size: 12px;
}

#earth {
  width: 280px;
}

#cameras {
  width: 280px;
}

#footer {
  display: flex;
}
